h1 {
    color: #ebebeb;
    padding-left: 15px;
    font-size: 32px;
    position: fixed;
    height: 50px;
    margin-bottom: 0;
}

h1 sup {
    font-size: 0.5em;
    vertical-align: top;
    color: crimson;
    margin-left: -10px;
    line-height: 5px;
}

body, #main-content {
    margin: 0;
}

#side, #side-header, #sidebar, #side-footer {
    font-family: sans-serif;
    background-color: #252525;
    color: #ebebeb;
    width: 250px;
}

#side {
    left: 0;
    height: 100vh;
    position: fixed;
    z-index: 2;
}

#side-header {
    position:absolute;
    top: 0;
    height: 70px;
    background-clip: padding-box;
}

#sidebar {
    top: 70px;
    position: absolute;
    bottom: 0;
    height: calc(100vh - 70px - 100px);
    font-size: 0.9rem;
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar .accordion_panel {
    padding: 6px 2px 6px 12px;
}

#sidebar #links {
    padding-left: 12px;
    padding-right: 12px;
}

#sidebar div {
    color: #ebebeb;
}

.row {
    padding-top: 5px;
    margin-bottom: 5px;
}

.inline_row {
    margin: 3px 0;
    position: relative;
    height: 25px;
    vertical-align: center;
}

.inline_row--limit-row {
   height: 32px;
    display: flex;
   align-items: center;
}

#sidebar .left, #sidebar .right {
    display: inline-block;
}

#sidebar label {
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
}

#sidebar .inline_label {
    padding-top: 4px;
    display: inline-block;
    padding-bottom: 0;
    bottom: 50%;
    top: 50%;
    position: absolute;
    transform: translate(0, -50%);
    height: 25px;
}

#sidebar input, #sidebar select {
    border: 2px solid darkgrey;
    border-radius: 5px;
    display: inline-block;
    background-color: #ebebeb;
    text-align: left;
}

#sidebar input[type='checkbox'] {
    transform: scale(1.5);
}

.inline_input {
    position: absolute;
    display: inline-block;
    height: 24px;
}

.limit_input {
    left: 50px;
    width: 100px;
}

.axes_input {
    left: 90px;
}

.grid_input {
    left: 150px;
}

.error-bar-input {
    left: 75px;
}

.error-bar-cb {
    left: 165px;
}

#sidebar .active {
    border: 2px solid orange;
}

#sidebar #lineColor {
    margin-right: 9px;
}

#sidebar .long_input {
    width: 130px;
}

#sidebar #traceTable {
   width: 100%;
   table-layout: fixed;
}

#sidebar #table_row {
    padding-top: 0;
}

#traceTable tr:not(:first-child) {
    color: black;
}

#traceTable th {
    width: 134px;
}

#traceTable .text_cell, #traceTable .button_cell {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 32px;
    box-sizing: border-box;
}

#traceTable .text_cell {
    width: 148px;
    background-color: #c4c4c4;
    border-radius: 5px;
    border: 1px solid darkgrey;
    padding: 0 0;
    margin: 0 4px 0 0;
}


#traceTable .text_cell .color_square {
    width: 14px;
    height: 14px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    left: 3px;
    bottom: 50%;
    top: 50%;
    position: absolute;
    transform: translate(0, -50%);
}

#sidebar #traceTable .text_cell input {
    display: inline-block;
    border: 0;
    width: 123px;
    height: 20px;
    bottom: 50%;
    top: 50%;
    left: 22px;
    transform: translate(0, -50%);
    position: absolute;
    background-color: #c4c4c4;
}

#sidebar #traceTable .active .text_cell input {
    font-weight: bold;
    background-color: white;
}

#sidebar #traceTable .active .text_cell{
    background-color: white;
    border-color: white;
}

#traceTable .button_cell {
    width: 60px;
    margin: 0 auto;
    padding: 0;
    vertical-align: top;
    top: 0;
    position: relative;
}

#traceTable .active .button_cell button {
    background-color: white;
    border-color: white;
}

#traceTable .button_cell .trace_button {
    top: 0;
    width: 45px;
    height: 14px;
    font-size: 10px;
    font-weight: bold;
    display: block;
    background-color: #c4c4c4;
    color: black;
    border: 1px solid grey;
    border-radius: 5px;
}

#traceTable .button_cell .trace_button:nth-child(2) {
    margin-top: 4px;
}

#traceTable .button_cell .trace_button:hover {
    background-color: #ffc063;
}

.limit-buttons {
    display: inline-block;
    width: 60px;
    margin: 0 auto;
    padding: 0;
    vertical-align: top;
    top: 0;
    left: 160px;
    position: absolute;
}

.limit-button {
    top: 0;
    width: 45px;
    height: 14px;
    font-size: 10px;
    font-weight: bold;
    display: block;
    background-color: white;
    border: 1px solid lightgray;
    color: black;
    border-radius: 5px;
    margin-bottom: 2px;
}

.limit-button:hover {
    background-color: #ffc063;
}

#sidebar .accordion_button {
    width: 100%;
    font-size: 16px;
    background-color: #252525;
    color: #ebebeb;
    text-align: left;
    transition: 0.2s;
    border: 1px solid #505050;
    padding-bottom: 2px;
    padding-top: 2px;
}

#sidebar .accordion_button:after {
    content: '+';
    float: right;
    font-size: 14px;
    color: #ebebeb;
    border-width: 0;
    margin-right: 5px;
    text-align: center;
}

#sidebar .accordion_active:after {
    content: '-';
    font-size: 14px;
    padding-right: 2px;
}

#sidebar .accordion_button:hover {
    background-color: #505050;
}

#sidebar .accordion_active {
    background-color: #505050;
}

#sidebar .accordion_active:hover {
    background-color: #606060;
}

#sidebar .accordion_panel {
   display: none;
}

#sidebar .half_item {
    width: 50px;
    margin-right: 10px;
}

#sidebar .grid_label {
    margin-bottom: 5px;
}

#sidebar .checkbox_label {
    vertical-align: bottom;
    margin-right: 10px
}

#sidebar .checkbox_label input {
    transform: scale(1.5);
    margin: 0 0 2px 5px;
    vertical-align: bottom;
    min-width: 0;
}

.tooltip-wrapper {
    display: none;
    position: fixed;
    left: 280px;
}

.tooltip-wrapper .tooltip-inner {
    position: relative;
    height: 100%;
}

.tooltip {
    display: block;
    position: absolute;
    width: 250px;
    margin: 0;
    box-shadow: 8px 5px 5px gray;
    border-radius: 5px;
}

#sidebar .tooltip .tooltip-header {
    margin: 0 auto;
    padding: 5px;
    background-color: #252525;
    color: #ebebeb;
    border-bottom: 1px solid gray;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.tooltip .tooltip-body {
    padding: 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: orange;
    font-size: 1rem;
}

.tooltip .tooltip-body p {
    margin: 0;
    color: black;
}

#side-footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 240px;
    font-size: 0.8em;
}

#side-footer p {
    padding-left: 15px;
    line-height: 0.5;
}

#side-footer small a {
    display: inline;
}

#fine_print {
    position: absolute;
    bottom: 0;
}

#figure_container {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 260px;
    width: calc(100% - 270px);
}

#figure_area {
    height: 92%;
    border: 5px dashed gray;
    overflow: hidden;
    cursor: default;
}

#mouse_area {
    cursor: crosshair;
}

#toolbar {
    padding: 0 4px;
    position: absolute;
    height: 50px;
    bottom: 0;
    left: 2%;
    right: 0;
    margin-right: 0;
    display: none;
    border-radius: 10px 10px 0 0;
    background-color: #252525;
}

#toolbar_buttons {
    height: 100%;
    display: inline-block;
}

#toolbar_buttons button {
    height: 100%;
    background-color: #252525;
    border: 2px solid  #252525;
    border-radius: 10px;
    color: #ebebeb;
    padding: 2px 10px;
    margin: 0 0;
    cursor: pointer;
}

#toolbar_buttons button:hover {
    background-color: white;
    border: 2px solid white;
    color: black;
}


#toolbar_buttons .active {
    color: black;
    background-color: white;
    border: 2px solid white;
}

#toolbar #coordinates {
    right: 5%;
    float: right;
}

#toolbar #coordinates p {
    color: #ebebeb;
    margin: 6px 6px 6px 0;
    line-height: 1rem;
}

#instruction_text {
    margin: 0 -50% 0 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 5px;
}

#instruction_text p {
    text-align: center;
}

#instruction_header {
    font-size: 2rem;
}

#instruction_dragdrop {
    color: crimson;
    font-weight: bold;
}

#instruction_copypaste {
    color: darkblue;
    font-weight: bold;
}

#instruction_twocol {
    color: forestgreen;
    font-weight: bold;
}

#instruction_plot {
    color: orange;
    font-weight: bold;
}

canvas {
    display: none;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: crisp-edges;
}

a {
    color: rgb(0, 102, 204);
}

/* Privacy statement rules below (see also text_container above) */
#sidebar #links {
    height: 100%;
}

#sidebar #links a {
    width: 226px;
    padding-top: 20px;
    margin: 0 auto;
    font-size: 1.2em;
    position: absolute;
    text-align: center;
}

#text_column {
    position: relative;
    margin: 0 auto;
    padding-top: 25px;
    font-family: sans-serif;
    max-width: 500px;
}
