h1 {
    color: #ebebeb;
    padding-left: 15px;
    font-size: 32px;
    position: fixed;
    height: 50px;
    margin-bottom: 0;
}

h1 sup {
    font-size: 0.5em;
    vertical-align: top;
    color: crimson;
    margin-left: -10px;
    line-height: 5px;
}

body, #main-content {
    margin: 0;
}

#side, #side-header, #sidebar, #side-footer {
    font-family: Sans-Serif;
    background-color: #252525;
    color: #ebebeb;
    width: 250px;
}

#side {
    left: 0;
    height: 100vh;
}

#side-header {
    position:absolute;
    top: 0;
    height: 70px;
    z-index: 3;
    /*border-bottom: 20px solid rgba(37,37,37,0.5);*/
    background-clip: padding-box;
}

#sidebar {
    top: 70px;
    position: absolute;
    bottom: 0;
    height: calc(100vh - 70px - 100px);
    font-size: 0.9rem;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar ul {
    list-style-type: none;
    padding-left: 12px;
    padding-right: 12px;
}

#sidebar div {
    font-family: inherit;
    color: lightgray;
}

#sidebar .row {
    padding-top: 5px;
    margin-bottom: 5px;
}

#sidebar .left, #sidebar .right {
    display: inline-block;
}

#sidebar label {
    font-weight: bold;
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
}

#sidebar input, #sidebar select {
    border: 2px solid darkgrey;
    border-radius: 5px;
    display: inline-block;
    background-color: #ebebeb;
    min-width: 68px;
}

#sidebar .active {
    border: 2px solid orange;
}

#sidebar #lineColor {
    margin-right: 9px;
}

#sidebar .long_input {
    width: 130px;
}

#sidebar .half_item {
    width: 50px;
    margin-right: 10px;
}

#sidebar .grid_label {
    margin-bottom: 5px;
}

#sidebar .checkbox_label {
    vertical-align: bottom;
    margin-right: 10px
}

#sidebar .checkbox_label input {
    transform: scale(1.5);
    margin: 0 0 2px 5px;
    vertical-align: bottom;
    min-width: 0px;
}

.tooltip-wrapper {
    display: none;
    position: fixed;
    left: 280px;
    z-index: 4;
}

.tooltip-wrapper .tooltip-inner {
    position: relative;
    height: 100%;
}

.tooltip {
    display: block;
    position: absolute;
    width: 250px;
    margin: 0;
    box-shadow: 8px 5px 5px gray;
    border-radius: 5px;
}

#sidebar .tooltip .tooltip-header {
    margin: 0 auto;
    padding: 5px;
    background-color: #252525;
    color: #ebebeb;
    border-bottom: 1px solid gray;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.tooltip .tooltip-body {
    padding: 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: orange;
    font-size: 1rem;
}

.tooltip .tooltip-body p {
    margin: 0;
    color: black;
}

#side-footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 240px;
    z-index: 1;
    font-size: 0.8em;
}

#side-footer p {
    padding-left: 15px;
    line-height: 0.5;
}

#side-footer small a {
    display: inline;
}

#fine_print {
    position: absolute;
    bottom: 0;
}

#figure_container {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 260px;
    width: calc(100% - 270px);
    display: block;
}

#figure_area {
    height: 92%;
    border: 5px solid gray;
    border-style: dashed;
    overflow: hidden;
}

#mouse_area {
    cursor: crosshair;
}

#toolbar {
    padding: 0px 4px;
    position: absolute;
    height: 50px;
    bottom: 0;
    left: 2%;
    right: 0%;
    margin-right: 0;
    display: none;
    border-radius: 10px 10px 0 0;
    background-color: #252525;
}

#toolbar_buttons {
    height: 100%;
    display: inline-block;
}

#toolbar_buttons button {
    height: 100%;
    background-color: #252525;
    border: 2px solid  #252525;
    border-radius: 10px;
    color: #ebebeb;
    padding: 2px 10px;
    margin: 0 0;
    cursor: pointer;
}

#toolbar_buttons button:hover {
    background-color: white;
    border: 2px solid white;
    color: black;
}


#toolbar_buttons .active {
    color: black;
    background-color: white;
    border: 2px solid white;
}

#toolbar #coordinates {
    right: 5%;
    float: right;
}

#toolbar #coordinates p {
    color: #ebebeb;
    margin: 6px 6px 6px 0;
    line-height: 1rem;
}

#instruction_text {
    margin: 0;
    position: relative;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: Sans-Serif;
    font-size: 1.5rem;
}

#instruction_text p {
    text-align: center;
}

#instruction_header {
    font-size: 2rem;
}

#instruction_dragdrop {
    color: crimson;
    font-weight: bold;
}

#instruction_copypaste {
    color: darkblue;
    font-weight: bold;
}

#instruction_twocol {
    color: forestgreen;
    font-weight: bold;
}

#instruction_plot {
    color: orange;
    font-weight: bold;
}

canvas {
    display: none;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
